/* RESETEO DE MÁRGENES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* FUENTE DE LA PAGINA */
.body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
    width: 100%; 
    cursor: url(../images/Cursor.png) 
}
/* HEADER */
.header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    background-color: aliceblue;
    max-width: 100%;
    height: 90px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);   
} 
.header__logo { 
    width: 35%;
    height: 80px;   
    border-radius: 2mm;
    padding-left: 5px;     
}
.header__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin-right: 350px;
}
.header__nav--bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* ATRIBUTOS DE LA LISTA DE NAVEGACIÓN */
.header__nav--list {
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items:center;
    list-style-type: none;
    gap: 2rem; 
    padding-top: 20px;      
} 
/* ATRIBUTOS ITEMS DE NAVEGACION */
.header__nav--enlace {
    color: blue; 
    text-decoration: none;
    background-color: aliceblue; 
    border-radius: 2px;  
}
/* ICONO HAMBURGUESA */
/* OCULTAR */
.icono {
    display: none;
}
/* INDEX */
/* PLANTAS */
/* Sección foto */
.foto {
    width: 100%;
    height: 600px;
}
.foto__plantas {
    background-image: url(../images/DouglasDC31.png);  
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%; 
    min-height: 600px; 
    object-fit: contain;     
}
.foto__plantas--titulobox {  
    padding-top: 550px;
   
}
.foto__plantas--titulo {
    background-image: url(../images/FondoDifuminado.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    height: 35px
}
/* Sección texto */ /* TODAS LAS SECCIONES */
.texto__contenedor {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    background-color: aliceblue;
    min-height: 500px;
    min-width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;   
}
.texto__bajofoto--titulo {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.texto__bajofoto--materia {
    font-size: 300%;
}
.texto__bajofoto--comentario {
    color:rgb(47, 49, 49)
}
.texto__definicion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
}
.texto__definicion--materia {
    padding-top: 30px;
    text-align: center;
    width: 60%;
}
.texto__partes--lista {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    gap: 30px
}
/* INDEX */
/* ESTRUCTURA */
/* Sección foto */
.foto__estructura {
    background-image: url(../images/Fuselaje1.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%; 
    min-height: 600px;       
}
.foto__estructura--titulobox { 
    padding-top: 530px;
}
.foto__estructura--titulo {
    background-image: url(../images/FondoDifuminado.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    height: 35px
}
/* Sección texto */
.texto__partes--avion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    gap: 30px
}
/* INDEX */
/* SISTEMAS */
/* Sección foto */
.foto__sistemas {
    background-image: url(../images/Sistemas1.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    min-width: 100%;     
}
.foto__sistemas--titulobox {
    padding-top: 530px;
}
.foto__sistemas--titulo {
    background-image: url(../images/FondoDifuminado.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    height: 35px
    
}
/* Sección texto */
.texto__partes--sistemas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    gap: 30px
}
/* INDEX */
/* PILOTO */
/* Sección foto */
.foto__piloto {
    background-image: url(../images/Cabina.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    min-width: 100%;   
}
.foto__piloto--titulobox {
    padding-top: 530px;
}
.foto__piloto--titulo {
    background-image: url(../images/FondoDifuminado.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    height: 35px
}
/* Sección texto */
.texto__partes--piloto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    gap: 30px
}
/* INDEX.HTML */
/* PILOTO */
/* Sección Video */
.video__volar {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    background-color: rgb(107, 107, 227);
    min-height: 500px;
    min-width: 100%;   
}
.video__volar--video {
    width: 450px;
    height: 225px;
    border-radius: 2mm;    
}
/* FOOTER */
/* Mapa */
.mapa {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    background-color:aliceblue;
    padding: 50px 70px 50px 70px;
}
.mapa__index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mapa__index--nombre {
    display:flex;
    justify-content: center;
}
.mapa__index--opciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none; 
    gap: 10px;
    margin-top: 10px;
    padding-left: 0px;  
}
.mapa__index--paginas {
    font-style: none;
    color: black;
    
}
/* FOOTER */
/* Links */
.link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.link__anac {
    width: 100px;
    height: 50px;  
}
.link__fada {
    width: 175px;  
}
.link__face {
    width: 60px;       
}
.link__youtube {
    width: 60px;    
}

/* PLANTAS.HTML *//* ESTRUCTURA.HTML *//* SISTEMAS.HTML */
/* HISTORIA */
.historia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 600px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.historia__titulo {
    display: inline-block;
    position: relative;
    font-family:"Dancing Script", cursive;
    color: grey;
}
.historia__texto {
    padding-top:30px;
    text-align: center;
    width: 600px;
    color:black;
}
.historia__engine {
    width: 30px;
    padding-top: 50px;
}
/* PLANTAS.HTML */
/* LA CULATA */
/* seccion foto*/
.foto__culata {
    background-image: url(../images/Culata1.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    min-width: 100%; 
}
.foto__culata--titulobox {   
    padding-top: 530px;
}
.foto__culata--titulo {
    background-image: url(../images/FondoDifuminado.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    height: 35px
}
/* seccion texto */
.texto__bajofoto--parte {
    font-size: xx-large;
}
.texto__partes--culata {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    gap: 30px
}
/* PLANTAS.HTML */
/* LA VALVULA */
/* seccion foto*/
.foto__valvula {
    background-image: url(../images/Válvulas1.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    min-width: 100%;
}
.foto__valvula--titulobox {
    padding-top: 530px;
}
.foto__valvula--titulo {
    background-image: url(../images/FondoDifuminado.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    height: 35px
}
/* seccion texto */
.texto__partes--valvula {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    gap: 30px
}
/* PLANTAS.HTML */
/* EL CILINDRO */
/* seccion foto*/
.foto__cilindro {
    background-image: url(../images/Cilindro2.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    min-width: 100%;
}
.foto__cilindro--titulobox {
    padding-top: 530px;  
}
.foto__cilindro--titulo {
    background-image: url(../images/FondoDifuminado.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    height: 35px
}
/* seccion texto */
.texto__partes--cilindro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    gap: 30px
}
/* PLANTAS.HTML */
/* MECANICO */
/* seccion foto*/
.foto__mecanico--plantas {
    background-image: url(../images/PowerplantMechanic.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    min-width: 100%;   
}
.foto__mecanico--plantastitulobox {
    padding-top: 530px;
}
.foto__mecanico--plantastitulo {
    background-image: url(../images/FondoDifuminado.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    height: 35px
}
/* seccion texto */
.texto__partes--mecanico {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    gap: 30px
}
/* ESTRUCTURA.HTML */
/* ALA */
/* seccion foto*/
.foto__ala {
    background-image: url(../images/Alas.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    min-width: 100%;
}
.foto__ala--titulobox {
    padding-top: 250px;
}
.foto__ala--titulo {
    background-image: url(../images/FondoDifuminado.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    height: 35px
}       
/* ESTRUCTURA.HTML */
/* EMPENAJE */
/* Seccion foto */
.foto__empenaje {
    background-image: url(../images/Empenaje1.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    min-width: 100%;  
}
.foto__empenaje--titulobox {
    padding-top: 530px;
}
.foto__empenaje--titulo {
    background-image: url(../images/FondoDifuminado.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    height: 35px

}
/* ESTRUCTURA.HTML */
/* TREN ATERRIZAJE */
/* seccion foto*/
.foto__tren {
    background-image: url(../images/Tren\ de\ Aterrizaje.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    min-width: 100%;
}
.foto__tren--titulobox {   
    padding-top: 530px; 
}
.foto__tren--titulo {
    background-image: url(../images/FondoDifuminado.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    height: 35px
}
/* ESTRUCTURA.HTML */
/* MECANICO */
/* seccion foto*/
.foto__mecanico--estructura {
    background-image: url(../images/AirframeMechanic.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    min-width: 100%;
}
.foto__mecanico--estructurabox {
    padding-top: 530px;
}
.foto__mecanico--estructuratitulo {
    background-image: url(../images/FondoDifuminado.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    height: 35px
}
/* SISTEMAS.HTML */
/* HIDRÁULICO */
/* sección foto*/
.historia__titulo {
    font-size: 30px;
}
.foto__hidraulico {
    background-image: url(../images/SistHidráulico.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    min-width: 100%;
}
.foto__hidraulico--titulobox {
    padding-top: 530px;
}
.foto__hidraulico--titulo {
    background-image: url(../images/FondoDifuminado.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    height: 35px
}
/* SISTEMAS.HTML */
/* COMBUSTIBLE */
/* sección foto */
.foto__combustible {
    background-image: url(../images/Combustible.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    min-width: 100%;    
}
.foto__combustible--titulobox {
    padding-top: 530px;
}
.foto__combustible--titulo {
    background-image: url(../images/FondoDifuminado.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    height: 35px

}
/* SISTEMAS.HTML */
/* NEUMATICO */
/* sección foto */
.foto__neumatico {
    background-image: url(../images/Neumático.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    min-width: 100%; 
}
.foto__neumatico--titulobox {
    padding-top: 530px;
}
.foto__neumatico--titulo {
    background-image: url(../images/FondoDifuminado.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    height: 35px
}
/* SISTEMAS.HTML */
/* MECANICO */
/* sección foto */
.foto__mecanico--sistemas {
    background-image: url(../images/SistemsMechanic.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    min-width: 100%; 
}
.foto__mecanico--sistemastitulobox {
    padding-top: 100px;
}
.foto__mecanico--sistemastitulo {
    background-image: url(../images/FondoDifuminado.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    height: 35px
}
/* CONTACTO.HTML */
/* FORMULARIO */
/* sección foto */
.formulario__foto {
    background-image: url(../images/formulario.png);
    background-repeat: no-repeat;
    height: 400px;  
}
.formulario__foto--box {
    padding-left: 750px;
    padding-top: 150px;
}
.formulario__foto--titulo {
    background-image: url(../images/FondoDifuminado.jpg);  
    background-repeat: no-repeat;
    background-size: ;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    height: 50px
}
/* sección texto */
.formulario__form--box {
    min-height: 500px;
    background-color: rgb(216, 222, 227);
}
.formulario__form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center; 
    gap: 1rem;
    padding-top: 100px;
}

@media screen and (max-width: 425px) {

    /* Ajustes Páginas */
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    /* Header */
    .header {
        max-width: 100%;
        height: 80px;
        justify-content:flex-end;
    }
    .header__logo {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        background-color: blueviolet;
        width: 380px;
        margin-right: 40px;
    }
    .header__nav {
        display: none;
    }
    .header__nav--list {
        display: none;
    }  
    .icono { 
        display: inline;   
        color: navy;
        padding-right: 0px; 
    }
    .icono__hamburguesa {
        font-size: 2rem;
        padding-right: 20px;
    }
    
    /* INDEX.HTML */
    .foto__plantas {
        max-width: 50%;
        height: 600px;
        object-fit: cover;
        background-position: right ;
    }
    .foto__plantas--titulobox {
        padding-top: 500px; 
        padding-left: 0px;  
    }
    .texto__contenedor {
        padding: 0px 20px 0px 20px;
    }
    .texto__bajofoto--titulo {
        font-size:49%;  
        padding-top: 120px;
    }
    .texto__bajofoto--comentario {
        font-size: 190%;
        padding-top: 10px;
    }
    .texto__aclaracion--numero {
        padding-top: 50px;
        padding-bottom: 120px;
    }
    .texto__definicion--materia {
        text-align:justify;
        min-width: 100%;
    }
    .texto__aclaracion {
        font-size: 90%;
    }
    .foto__estructura {
        width: 100%;
        height: 600px;
        object-fit: cover;
        background-position: right ;
    }
    .foto__estructura--titulobox {
        padding-left: 0px;     
        padding-top: 50px;   
    }
    .foto__sistemas {
        width: 100%;
        height: 600px;
        object-fit: cover;
        background-position: left;
    }
    .foto__sistemas--titulobox {
       padding-left: 0px;
       padding-top: 120px;
    }
    }
    .foto__piloto {
        width: 100%;
        height: 600px;
        object-fit: cover;
        background-position: right;
    }
    .foto__piloto--titulobox {
        padding-left: 0px;
    }
    .video__volar--video {
        width: 90%;
    }
    /* PLANTAS.HTML */ 
    .historia__texto {
        width: 100%;
    }
    .foto__culata {
        width: 100%;
        height: 600px;
        object-fit: cover;
        background-position: left;
    }
    .foto__culata--titulobox {
        padding-left: 0px;
    }

    .foto__valvula {
        width: 100%;
        height: 600px;
        object-fit: cover;
        background-position: left;
    }
    .foto__valvula--titulobox {
        padding-left: 0px;  
    }
    .foto__cilindro {
        width: 100%;
        height: 600px;
        object-fit: cover;
        background-position: left;
    }
    .foto__cilindro--titulobox {
        padding-left: 0px;    
    }
    .foto__mecanico--plantas {
        width: 100%;
        height: 600px;
        object-fit: cover;
        background-position: right;
    }
    .foto__mecanico--plantastitulobox {
        padding-left: 0px;
    }
    /* ESTRUCTURA.HTML */ 
    .foto__ala {
        width: 100%;
        height: 600px;
        object-fit: cover;
        background-position: left;
    }
    .foto__ala--titulobox {
        padding-top: 100px;
        padding-left: 0px;
    }
    .foto__empenaje {
        width: 100%;
        height: 600px;
        object-fit: cover;
        background-position: left;
    }
    .foto__empenaje--titulobox {
        padding-left: 0px;
    }
    .foto__tren {
        width: 100%;
        height: 600px;
        object-fit: cover;
        background-position: left;
    }
    .foto__tren--titulobox {
        padding-top: 500px;
    }
    .foto__mecanico--estructurabox {
        padding-left: 0px;
    }
    /* SITEMAS.HTML */
    .foto__hidraulico--titulobox {
        padding-left: 0px;
    }
    .foto__combustible {
        width: 100%;
        height: 600px;
        object-fit: cover;
        background-position: center;
        color:aliceblue;
    }
    .foto__combustible--titulobox {
        padding-left: 0px;
    }
    .foto__neumatico {
        width: 100%;
        height: 600px;
        object-fit: cover;
        background-position: right;
    }
    .foto__neumatico--titulobox {
        padding-left: 0px;    
    }  
    .foto__mecanico--sistemas {
        width: 100%;
        height: 600px;
        object-fit: cover;
        background-position: center; 
    }
    .foto__mecanico--sistemastitulobox {
        padding-left: 0px;
    }
    /* CONTACTO.HTML */
    .formulario__foto {
        margin-top: 150px;   
    }
    .formulario__foto--box {
        padding-left: 0px;   
    }
    .formulario__foto--titulo {
        font-size: 24px;
        width: 100%;
        transform: translateY(-220px);
                
    }
    /* FOOTER */
    .footer {
        width: 100%;
    }
    .mapa {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 120px 70px 120px 70px; 
        gap: 30px;
    }
    .mapa__index {
        width: 100%;
    }
    .texto__partes--lista {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }  
} 




       

    




