.header {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  background-color: aliceblue;
  min-width: 100%;
  min-height: 80px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4); }
  .header .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(navy, white);
    min-width: 15%;
    min-height: 80px; }
    .header .logo .logo__imagen {
      width: 150px;
      border-radius: 2mm; }
    .header .logo .logo__imagen:hover {
      transform: rotate(-20deg); }
  .header .nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 600px; }
    .header .nav .nav__bar {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding-bottom: 20px; }
      .header .nav .nav__bar .nav__list {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        list-style-type: none;
        gap: 2rem;
        padding-top: 20px; }
        .header .nav .nav__bar .nav__list .nav__items .nav__enlace {
          color: blue;
          text-decoration: none;
          background-color: aliceblue;
          border-radius: 2px; }
  .header .icono .icono__hamburguesa {
    display: none; }

.main .foto {
  width: 100%;
  height: 600px; }
  .main .foto .foto__plantas {
    background-image: url(../images/DouglasDC31.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    min-width: 100%; }
    .main .foto .foto__plantas .foto__titulo .foto__titulo--plantas {
      display: flex;
      flex-direction: row;
      justify-content: left;
      font-size: 350%;
      padding-top: 100px;
      padding-left: 100px;
      color: black; }

.main .texto .texto__contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  min-height: 500px;
  min-width: 100%;
  padding: 1rem; }
  .main .texto .texto__contenedor .texto__bajofoto .texto__bajofoto--titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .main .texto .texto__contenedor .texto__bajofoto .texto__bajofoto--titulo .texto__bajofoto--materia {
      font-size: 300%; }
    .main .texto .texto__contenedor .texto__bajofoto .texto__bajofoto--titulo .texto__bajofoto--comentario {
      color: #2f3131; }
  .main .texto .texto__contenedor .texto__definicion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; }
    .main .texto .texto__contenedor .texto__definicion .texto__definicion--materia {
      padding-top: 30px;
      text-align: center;
      width: 60%; }
  .main .texto .texto__contenedor .texto__partes .texto__partes--motor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px; }

.main .foto {
  width: 100%;
  height: 600px; }
  .main .foto .foto__estructura {
    background-image: url(../images/Fuselaje1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height: 600px; }
    .main .foto .foto__estructura .foto__titulo {
      display: flex;
      flex-direction: row;
      justify-content: left;
      padding-top: 150px;
      padding-left: 50px;
      font-size: 350%;
      color: black; }
      .main .foto .foto__estructura .foto__titulo .foto__titulo--estructura {
        display: flex;
        flex-direction: row;
        justify-content: left;
        font-size: 350%;
        padding-top: 100px;
        padding-left: 100px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: black; }

.main .texto .texto__contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  min-height: 500px;
  min-width: 100%;
  padding: 1rem; }
  .main .texto .texto__contenedor .texto__bajofoto .texto__bajofoto--titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .main .texto .texto__contenedor .texto__bajofoto .texto__bajofoto--titulo .texto__bajofoto--materia {
      font-size: 300%; }
    .main .texto .texto__contenedor .texto__bajofoto .texto__bajofoto--titulo .texto__bajofoto--comentario {
      color: #2f3131; }
  .main .texto .texto__contenedor .texto__definicion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; }
    .main .texto .texto__contenedor .texto__definicion .texto__definicion--materia {
      padding-top: 30px;
      text-align: center;
      width: 60%; }
  .main .texto .texto__contenedor .texto__partes .texto__partes--avion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px; }

.main .foto {
  width: 100%;
  height: 600px; }
  .main .foto .foto__sistemas {
    background-image: url(../images/Sistemas1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    min-width: 100%; }
    .main .foto .foto__sistemas .foto__titulo .foto__titulo--sistemas {
      display: flex;
      flex-direction: row;
      justify-content: left;
      font-size: 350%;
      padding-top: 100px;
      padding-left: 100px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: aliceblue; }

.main .texto .texto__contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  min-height: 500px;
  min-width: 100%;
  padding: 1rem; }
  .main .texto .texto__contenedor .texto__bajofoto .texto__bajofoto--titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .main .texto .texto__contenedor .texto__bajofoto .texto__bajofoto--titulo .texto__bajofoto--materia {
      font-size: 300%; }
    .main .texto .texto__contenedor .texto__bajofoto .texto__bajofoto--titulo .texto__bajofoto--comentario {
      color: #2f3131; }
  .main .texto .texto__contenedor .texto__definicion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; }
    .main .texto .texto__contenedor .texto__definicion .texto__definicion--materia {
      padding-top: 30px;
      text-align: center;
      width: 60%; }
  .main .texto .texto__contenedor .texto__partes .texto__partes--sistemas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px; }

.main .foto {
  width: 100%;
  height: 600px; }
  .main .foto .foto__piloto {
    background-image: url(../images/Cabina.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    min-width: 100%; }
    .main .foto .foto__piloto .foto__titulo .foto__titulo--piloto {
      display: flex;
      flex-direction: row;
      justify-content: left;
      font-size: 350%;
      padding-top: 100px;
      padding-left: 100px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: aliceblue; }

.main .texto .texto__contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  min-height: 500px;
  min-width: 100%;
  padding: 1rem; }
  .main .texto .texto__contenedor .texto__bajofoto .texto__bajofoto--titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .main .texto .texto__contenedor .texto__bajofoto .texto__bajofoto--titulo .texto__bajofoto--materia {
      font-size: 300%; }
    .main .texto .texto__contenedor .texto__bajofoto .texto__bajofoto--titulo .texto__bajofoto--comentario {
      color: #2f3131; }
  .main .texto .texto__contenedor .texto__definicion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; }
    .main .texto .texto__contenedor .texto__definicion .texto__definicion--materia {
      padding-top: 30px;
      text-align: center;
      width: 60%; }
  .main .texto .texto__contenedor .texto__partes .texto__partes--piloto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px; }

.main .video .video__volar .video__volar--contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blue;
  min-height: 500px;
  min-width: 100%;
  padding: 1rem;
  grid-template-columns: 1fr 1fr; }
  .main .video .video__volar .video__volar--contenedor .video__Video {
    width: 600px;
    height: 300px;
    border-radius: 2mm; }

.footer .mapa {
  display: grid;
  grid-template-columns: 260px 260px 260px 260px 260px;
  grid-template-rows: 300px 300px;
  background-color: blueviolet;
  min-width: 100%; }
  .footer .mapa .mapa__index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .footer .mapa .mapa__plantas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .footer .mapa .mapa__estructura {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .footer .mapa .mapa__sistemas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .footer .mapa .mapa__contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .footer .mapa .link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem; }
  .footer .mapa .link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem; }
    .footer .mapa .link .link__anac {
      width: 100px;
      height: 50px; }
  .footer .mapa .link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem; }
    .footer .mapa .link .link__fada {
      width: 175px; }
  .footer .mapa .link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem; }
    .footer .mapa .link .link__face {
      width: 60px; }
  .footer .mapa .link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem; }
    .footer .mapa .link .link__you {
      width: 60px; }
