.header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    background-color: aliceblue;
    min-width: 100%;
    min-height: 80px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4); 
    .logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(navy, white);
        min-width: 15%;
        min-height: 80px;
        .logo__imagen {
            width: 150px;   
            border-radius: 2mm;
        }
        .logo__imagen:hover {
            transform:rotate(-20deg);
        }
    }
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 600px;
        .nav__bar {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding-bottom: 20px;
            .nav__list {
                display: flex;
                flex-direction: row;
                justify-content:left;
                align-items:center;
                list-style-type: none;
                gap: 2rem; 
                padding-top: 20px; 
                .nav__items {
                    .nav__enlace {
                        color: blue; 
                        text-decoration: none;
                        background-color: aliceblue; 
                        border-radius: 2px; 
                    }
                }  
            }       
        }
    .icono {
        .icono__hamburguesa {
                display: none;
        }
    }
}